/* colors */
:root{
    --lightblue:#6295EF;
    --blue:#006FFE;
    --dark-orange:#8B4709;
    --orange:#F99325;
    --yellow:#FFFD00;
    --gold:#FFD700;
    --black:#2B2B2B;
}

.black{
    background-color:var(--black);
}

.orange{
    background-color:var(--orange);
}

.dark-orange{
    background-color: var(--dark-orange);
}

.lightblue{
    background-color:var(--lightblue);
}

.blue{
    background-color:var(--blue)
}

.gold{
    background-color:var(--gold)
}

.yellow{
    background-color: var(--yellow);
}


.animation-left{
    opacity:1;
    animation-name:walk;
    animation-duration:1s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
    animation-delay: 2s;
}


@keyframes walk{
    0% {opacity:0;}

    40% {opacity:1;}

    100%{
        opacity:0;
    }
}

.animation-right{
    opacity:1;
    animation-name:walk1;
    animation-duration:1s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
    animation-delay: 2s;
}

@keyframes walk1{
    0% {opacity:1;}

    50% {opacity:0;}

    90%{
        opacity:1;
    }
    
}